<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data2Bots Chatbot</title>
    <link rel="stylesheet" href="/static/css/style.css ">
</head>
<body>

<div class="chatbox">
    <div class="chat-header">Data2Bots Chatbot</div>
    <div class="chat-log" id="chat-log"></div>
    <div class="chat-input-section">
        <input type="text" id="chat-input" class="chat-input" placeholder="Type your message..." />
        <button class="send-btn" onclick="sendMessage()">Send</button>
    </div>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>
